<div class="card" id="child_form_<%= params[:ancestry] %>">
    <div class="row">
        <div class="col-md-12">
            <%= form_tag(product_comments_path, method: :post, remote: true) do %>
                <textarea id="comment_body" name="comment[body]" class="form-control" placeholder="Write Comment" rows="2" required></textarea>
                <%= hidden_field_tag 'comment[ancestry]',params[:ancestry]%>
                <%= submit_tag 'Post Comment', class:"btn"%>
            <% end %>
        </div>
    </div>
</div>