<div class="card" id="child_form_<%= params[:ancestry] %>">
    <div class="row">
        <div class="col-md-12">
            <textarea id="comment_body" name="comment[body]" class="form-control" placeholder="Write Comment" rows="2" required data-behavior="room_speaker" data-user_id="<%= current_user.id %>" data-product_id="<%= params[:product_id] %>" data-ancestry="<%= params[:ancestry] %>" ></textarea>
        </div>
    </div>
</div>