<h1>Paid Orders</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead >
            <tr>
                <th>Order Id</th>
                <th>Total</th>
                <th colspan="1"></th>
            </tr>
        </thead>
        <tbody>
            <% @paid_orders.each do |order| %>
                <tr>
                    <td><%= order.id %></td>
                    <td><%= order.total %></td>
                    <td><%= link_to 'Show', order_path(id: order.id) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= will_paginate @paid_orders, renderer: BootstrapPagination::Rails, remote: true, param_name: 'paid_order_order', class: 'justify-content-center' %>
    <br>
</div>