<div class="modal-header">
    <h4 class="modal-title">Edit Product Quantity</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
    <div class="modal-body d-flex justify-content-center">
        <% if current_user %>
            <%= render 'form', order_product: @order_product %>
        <% else %>
            <%= form_tag(order_product_path, method: :patch) do %>
            <div class="field form-group ">
                <%= number_field_tag :quantity , params[:quantity] %>
            </div>
            <div class="actions form-group">
                <%= submit_tag 'Add to Cart', class:"btn btn-default"%>
            </div>
            <% end %>
        <% end %>
    </div>
<div class="modal-footer d-flex justify-content-center">
</div>